{% extends "base.html" %}
<!-- edit_form.html -->
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<div class="container">
    <h1>Applicants List</h1>
</div>
<div class="container" style="overflow: scroll;margin-top: 100px;">
    <table id="applicantsTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Institution Name</th>
                <th>Course of Study</th>
                <th>Matric Number</th>
                <th>Scholarship Type</th>
                <th>Guardian Name</th>
                <th>Guardian Phone</th>
                <th>Applicant Declaration</th>
            </tr>
        </thead>
        <tbody>
            {% for item in combined_data %}
            <tr>
                <td>{{ item.personal_info.first_name }}</td>
                <td>{{ item.personal_info.last_name }}</td>
                <td>{{ item.personal_info.email }}</td>
                <td>{{ item.personal_info.phone_number }}</td>
                <td>{{ item.academic_info.institution_name }}</td>
                <td>{{ item.academic_info.course_of_study }}</td>
                <td>{{ item.academic_info.matric_Number }}</td>
                <td>{{ item.scholarship_details.scholarship_type }}</td>
                <td>{{ item.guardian_info.guardian_name }}</td>
                <td>{{ item.guardian_info.guardian_phone }}</td>
                <td>{% if item.declaration.applicant_declaration %}Yes{% else %}No{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#applicantsTable').DataTable({
            "pageLength": 10,  // Set number of rows per page
            "searching": true, // Enable search
            "ordering": true,  // Enable column ordering
            "lengthChange": true // Allow changing rows per page
        });
    });
</script>

{% endblock content %}
